@import '@scss/utils.scss';


.container {


  @include txt-content;


  .wrap-person {
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin: 42px 0 8px;

    > span{
      letter-spacing: 1.4px;
    }

    .icon-heart {
      width: 16px;
      height: 16px;
      margin: 0 6px;
    }
  }

  .wrap-location {
    display: flex;
    flex-direction: column;
    margin-bottom: 42px;
  }

  .icon-flower {
    width: 34px;
    height: 34px;
    margin-bottom: 6px;
  }

}